@model List<Lecture>
@{
    ViewData["Title"] = @ViewBag.SubjectName;
    Layout = "_AdminLayout";
}

<h1 class="text-center">@ViewBag.SubjectName</h1>


@if (Model != null)
{
    <h1 class="text-center">Lectures</h1>
    <hr />
    <div class="row my-5">

        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <a asp-action="Posts" asp-route-ClassroomName="@ViewBag.ClassroomName" asp-route-SubjectName="@ViewBag.SubjectName" asp-route-LecName="@item.Name" class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    @item.Name
                                </a>
                                <a class="h5 mb-0 font-weight-bold text-gray-800"></a>
                            </div>
                            @* <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div> *@
                        </div>
                    </div>
                </div>
            </div>

        }
        @if (User.Claims.FirstOrDefault(i => i.Type == "TeacherId" || i.Type == "AdminId")?.Value != null)
        {
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <a onclick="AddModalData('@ViewBag.SubjectName', '@ViewBag.ClassroomName')" data-toggle="modal" data-target="#AddModal" class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Add
                                </a>
                                <a class="h5 mb-0 font-weight-bold text-gray-800"></a>
                            </div>
                            @* <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div> *@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
<script>
    async function AddModalData(SubjectName, ClassroomName) {
        console.log("/ManageClassrooms/" + ClassroomName + "/" + SubjectName + "/Add");
        const response = await fetch("/ManageClassrooms/" + ClassroomName + "/" + SubjectName + "/Add")
        const data = await response.text();
        document.getElementById("modal-body").innerHTML = data;
    }

</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
