@model SchoolManagementSystem.ViewModels.StudentUserViewModel

@{
    ViewData["Title"] = "Add Student";
    Layout = "_AdminLayout";
}

<div class="container-fluid py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">@Model.UserName enrolled as @Model.RoleName</h1>
                        <form asp-action="AddStudent" enctype="multipart/form-data">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input asp-for="UserId" class="form-control" hidden/>
                                <input asp-for="StudentId" class="form-control" hidden />
                            <div class="form-group mb-4">
                                <label asp-for="UserName" class="control-label"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="Image" class="control-label"></label>
                                <input asp-for="Image" type="file" value="Model.Image" class="form-control" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="RoleName" class="control-label"></label>
                                <select asp-for="RoleName" class="form-control">
                                    @foreach (var item in ViewBag.Roles)
                                    {
                                        @if (Model?.RoleName?.Contains(item.Name))
                                        {
                                            <option selected value="@item.Id">@item.Name</option>
                                        }
                                        else
                                        {
                                                <option value="@item.Id">@item.Name</option>
                            
                                        }
                                    }
                                </select>
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group mb-4">
                                <label asp-for="LevelId" class="control-label">Level</label>
                                <select  asp-for="LevelId" onchange="setClass()" id="LevelId" class="form-control">
                                    <option value=""></option>

                                    @foreach (var item in ViewBag.Levels)
                                    {
                                        @if (Model?.LevelId == item.Id)
                                        {
                                            <option selected value="@item.Id">@item.Name</option>
                                        }
                                        else
                                        {
                                            
                                            <option value="@item.Id">@item.Name</option>
                                            
                                        }
                                    }
                                </select>
                                <span asp-validation-for="ClassroomId" class="text-danger"></span>
                            </div>
                            
                            
                            <div class="form-group mb-4">
                                <label asp-for="ClassroomId" class="control-label">Classroom</label>
                                <select asp-for="ClassroomId" id="ClassroomId" class="form-control">
                                    <option value=""></option>

                                    @foreach (var item in ViewBag.Classrooms)
                                    {
                                        @if (Model?.ClassroomId == item.Id)
                                        {
                                            <option selected value="@item.Id">@item.Name</option>
                                        }
                                        else
                                        {
                                                <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="ClassroomId" class="text-danger"></span>
                            </div>
                            <div class="form-check">
                                <label asp-for="IsDone" class="control-label">Mark as Done</label>
                                <input asp-for="IsDone" class="form-check-input" type="checkbox" />
                                <span asp-validation-for="IsDone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-lg-6 my-5 py-5 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative my-5 py-5 h-100">
                        <img id="ImgElement" class="position-absolute w-100 h-100 rounded" src="/@Model.Image" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    async function  setClass(){

        const levelId = document.getElementById("LevelId").value
        console.log("123", levelId)
        fetch("/Admin/Classrooms/" + levelId).then(response => {
            return response.json()
        }).then(data => {
            const selectInput = document.getElementById("ClassroomId");
            selectInput.innerHTML = `<option></option>`;
            for (var item of data) {
                console.log(selectInput);
                selectInput.innerHTML += `
                            <option value = "${item['id']}">${item['name']}</option>
                    `;
            }
        }).catch(err=>console.log("err=> ",err))
        
    }
    const imgInp = document.getElementById("ImageField");
    const ImgElement = document.getElementById("ImgElement");
    imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
            ImgElement.src = URL.createObjectURL(file)
        }
    }
        
</script>
<div class="text-center">
    <a asp-action="NewRegisters">Back to List</a>
</div>

@* 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
